h1 {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}

.alert, form {
    max-width: 750px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid var(--gray);
    padding: 15px;
    margin-bottom: 1.5em;
}

legend {
    float: initial;
    width: initial;
    margin: 0;
    padding: 0 10px 0 5px;
}

input::placeholder {
    font-weight: 200;
    font-size: 14px;
}

button[type=submit] {
    margin-top: 1em;
}