{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
{% endblock %}

{% block body %}
<h1>Добро пожаловать, <span class="user-name">{{ current_user.name }}</span>!</h1>
<div class="progress">
    {% set total_tasks = tasks|length %}
    {% set completed_tasks = tasks | selectattr("completed", "equalto", True) | list | length %}
    {% if total_tasks > 0 %}
        {% set percent_completed = ((completed_tasks / total_tasks) * 100)| round | int %}
    {% else %}
        {% set percent_completed = 0 %}
    {% endif %}

    <div class="progress-bar" role="progressbar" style="width: {{ percent_completed }}%"></div>
    <div class="progress-bar-inner" style="{% if percent_completed > 48 %}color: var(--white);{% endif %}">{{ percent_completed }}%</div>
</div>
<h2>Список задач:</h2>

<div class="todo-wrapper">
    <div class="add-task">
        <input type="text" id="taskInput" placeholder="Введите задачу..." autofocus form-type="add-task">
        <button id="addTaskBtn">Добавить</button>
    </div>

    <div id="taskList" class="task-list">
        {% for task in tasks %}
            <div id="task-wrapper" class="task-wrapper">
                <div class="task-wrapper-left">
                    <input id="task{{ task.id }}"
                        type="checkbox"
                        name="task"
                        value="{{ task.id }}"
                        {% if task.completed %}
                            checked="yes"
                        {% endif%}
                        autocomplete="off">

                    <label {% if task.completed %}class="text-decoration-line-through text-success fw-light"{% endif %} for="task{{ task.id }}">
                        {{ task.task }}
                    </label>
                </div>
                <div id="trash-can-{{ task.id }}" class="trash-can">
                    <img src="{{ url_for('static', filename='images/trash-can.svg') }}" alt="Delete">
                </div>
            </div>
        {% endfor %}
        <p class="no-tasks{% if tasks %} d-none{% endif %}">Нет задач</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add_task.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_task.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_task.js') }}"></script>
{% endblock %}