{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body %}
<h1>Настройки:</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="alert {% if category == 'danger' %}alert-warning{% else %}alert-success{% endif %}">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="" method="post" >
    <fieldset>
        <legend>Пароль:</legend>
        <div class="form-group">
            <label>Старый пароль:</label>
            <input type="password" class="form-control" name="old-password" placeholder="Старый пароль...">
        </div>
        <div class="form-group">
            <label>Новый пароль:</label>
            <input type="password" class="form-control" name="new-password" placeholder="Новый пароль...">
        </div>
        <div class="form-group">
            <label>Повторите новый пароль:</label>
            <input type="password" class="form-control" name="repeat-password" placeholder="Повторите новый пароль...">
        </div>
    </fieldset>

    <fieldset>
        <legend>Имя:</legend>
        <div class="form-group">
            <label>Новое имя:</label>
            <input type="text" class="form-control" name="new-name" placeholder="Новое имя..." maxlength="50">
        </div>
    </fieldset>

    <fieldset>
        <legend>Email:</legend>
        <div class="form-group">
            <label>Новый Email:</label>
            <input type="email" class="form-control" name="new-email" placeholder="Новый Email..." maxlength="50">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}